{% extends "base.html" %}
{% block content %}
<form method='post'>
	{% csrf_token %}
	<h1 class="h3 mb-3 fw-normal d-flex justify-content-center">Add comment</h1>
    <div class="d-flex justify-content-center">
            <div class="form-floating">
                <textarea type="text" id="content" name="content" row="40" col="20" style="width: 350px;"></textarea>
            </div>
        <button class="btn btn-primary w-15 py-2 ms-2" type="submit">Add</button>
    </div>
</form>
{% endblock content %}