{% extends "base.html" %}

{% block content %}
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Articles</h2>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filters
      </button>
      <ul id="Sort-Links" class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item active" href="?sort=publication_date">Date</a></li>
        <li><a class="dropdown-item" href="?sort=author">Author</a></li>
        <li><a class="dropdown-item" href="?sort=tags">Tags</a></li>
        <li><a class="dropdown-item" href="?sort=name">Name</a></li>
        {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
      </ul>
    </div>
      {% for a in articles %}
        <div class="col d-flex align-items-start mb-5">
            <div>
            <h3 class="fs-2 text-body-emphasis">{{a.name}}</h3>
            <p>{{a.content|slice:':105'}}...</p>
            <a href="{% url "article" a.id %}" class="btn btn-primary">View</a>
            </div>
        </div> 
      {% endfor %}  
</div>
{% endblock content %}